<p>
  <strong>Course Name</strong>
  <%= @course.name %>
  <%= avg_grade(@course) %>
</p>

<!-- Students in this course -->
<table>
  <tr><th>Student Name</th><th>Final Grade</th></tr>
  <%= render partial: 'membership', collection: @course.memberships %>
</table>

<%= render partial: 'add_students', locals: {course: @course} %>
